---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  misc-redundant-expression,
  misc-unused-parameters,
  modernize-use-auto,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  readability-braces-around-statements,
  readability-redundant-string-cstr

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
...
